mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.floating-imgs#sContactScene
			img(src='img/svg/sContact-bg-1.svg' alt='' loading='lazy' data-depth="0.6")
			img(src='img/svg/sContact-bg-2.svg' alt='' loading='lazy' data-depth="0.2")
		.container
			+b.section-title(data-aos="fade-up" data-aos-once="true")
				h2 Контакты
			+e.wrapper(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true")
				+e.row.row
					mixin item(a, h, i, ...items)
						.col-md-6.col-xl-auto
							+e.item
								if a
									a(href=`${a}` target= "_blank")
										h6!= h
										+e.img-wrap
											.img-wrap-center
												+img(`img/${i}`)
								else
									h6!= h
									+e.img-wrap
										.img-wrap-center
											+img(`img/${i}`)

								block
					+item(`https://www.medicalm.ru/`, `Компания поставщик ООО &laquo;МЕДИКЭЛ&nbsp;М&raquo;`, 'sContact-1.png')
						ul
							li Адрес: 141031, Московская область, пос. Вешки, Липкинское шоссе, 2-й км, вл7с1. БЦ&nbsp;&laquo;Вешки Парк&raquo;
							li Сайт: 
								a(href="https://www.medicalm.ru/" target= "_blank") www.medicalm.ru
							li Эл. почта: 
								a(href= "mailto:medicalm@inbox.ru") medicalm@inbox.ru
							li Тел.: 
								a(href= "tel:+74952592406") +7&nbsp;(495)&nbsp;259&nbsp;24&nbsp;06

					+item(``, `Компания производитель &laquo;SWS Medical&raquo;`, 'svg/sContact-2.svg')
						ul
							li Адрес: Китай, Чунцин, новый район Лянцзян, Цыцзи-Роуд, 1
							li Сайт: www.swskj.com
							//- li Сайт: 
							//- 	a(href="https://www.swskj.com/" target= "_blank") www.swskj.com
							li Эл. почта: 
								a(href= "mailto:nicolelee@swskj.com") nicolelee@swskj.com
							li Тел.: 
								a(href= "tel:+8668884702") +86-68884702

		+e.map
			//- script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c')
			+e.map-widget
				script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac6053018bd51279c1188dcf7a9b0ba04ce708ac0343ffeb193067ea0bd487e88&width=100%25&height=490&lang=ru_RU&scroll=false')


			//- <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac6053018bd51279c1188dcf7a9b0ba04ce708ac0343ffeb193067ea0bd487e88&amp;source=constructor" width="100%" height="490" frameborder="0"></iframe>

	// end sContact